<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>High Country Life</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

</head>

<body>


<% include adminHead %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add New County</h1>

      <form method="POST" action="/admin/category" enctype="multipart/form-data">
        <div class="form-group">
          <label>Category Name:</label>
          <input type="text" class="form-control" name="category_name"/>
        
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Image</label>
          <input type="file" id="exampleInputFile" name="cat_img" accept="">
          <p class="help-block">Accept jpg, png only.</p>
        </div>

        <input type="submit" name="">
      </form>
    </div>
  </div>
</div>








</body>
</html>