<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>High Country Life</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
 
<!-- Include Editor style. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

</head>

<body>


<% include adminHead %>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add New Business</h1>

      <form method="POST" action="/admin/business" enctype="multipart/form-data">

        <div class="form-group">
          <label for="exampleInputEmail1">Buisness Title</label>
          <input type="text" class="form-control" name="title" id="exampleInputEmail1" placeholder="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Address</label>
          <input type="text" name = "address" class="form-control" id="exampleInputPassword1" placeholder="address">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Website</label>
          <input type="text" name = "website" class="form-control" id="exampleInputPassword1" placeholder="website">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone</label>
          <input type="text" name = "phone" class="form-control" id="exampleInputPassword1" placeholder="phone">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Video Link</label>
          <input type="text" name = "video" class="form-control" id="exampleInputPassword1" placeholder="video link">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Image</label>
          <input type="file" id="exampleInputFile" name="image" accept="">
          <p class="help-block">Accept jpg, png only.</p>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Details</label>
          <textarea name="details"></textarea>
        </div>
        
        <label>Category :</label>
        <select name="category" id="catId" class="form-control" >
        </select>
        
        <label>City id :</label>
        <select name="city_id" id="selectId" class="form-control" >
        </select>

        <div class="form-group">
          <label for="exampleInputPassword1">Priority</label>
          <input type="text" class="form-control" name="priority" id="exampleInputEmail1" placeholder="priority">
        </div>

        <br>
        <input type="submit" name="">

      </form>
    </div>
  </div>
</div>





<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
 

<script type="text/javascript">
  $(document).ready(function(){

    // $('textarea').froalaEditor();
     
     $.ajax({
      url: "/admin/getcity",
      dataType: "json",
      success: function(data) {
        console.log(data);
        var $el = $("#selectId");
        $el.empty(); // remove old options
        $.each(data, function(key,value) {
          $el.append($("<option></option>")
             .attr("value", value.id).text(value.city_name));
        });

      }
    });

     $.ajax({
      url: "/admin/getcategory",
      dataType: "json",
      success: function(data) {
        console.log(data);
        var $el = $("#catId");
        $el.empty(); // remove old options
        $.each(data, function(key,value) {
          $el.append($("<option></option>")
             .attr("value", value.id).text(value.category_name));
        });

      }
    });
  });
</script>


</body>
</html>