<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>High Country Life</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">High Country Life</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><%= sess.email %></a><li>
        <li><a href="/admin/logout">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add New County</h1>

      <form method="POST" action="/admin/category" enctype="multipart/form-data">
        <div class="form-group">
          <label>Category Name:</label>
          <input type="text" class="form-control" name="category_name"/>
        
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Image</label>
          <input type="file" id="exampleInputFile" name="cat_img" accept="">
          <p class="help-block">Accept jpg, png only.</p>
        </div>

        <input type="submit" name="">
      </form>
    </div>
  </div>
</div>








</body>
</html>