<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>High Country Life</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

</head>

<body>


<% include adminHead %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>County</h1>
      <a href="/admin/county/new">Add County</a>
      <a href="/admin/countyUpload">upload CSV</a>
      <table id="table" class="table">  
              <thead>  
                  <tr>  
                      <th>Id</th>  
                      <th>County Name</th> 
                      <th>Image</th> 
                      <th>Action</th>
                  </tr>  
              </thead>  
               <tbody>  
               <% obj.forEach(function (user) { %>
                  <tr>  
                      <td><%= user.id %></td>  
                      <td><%= user.county %></td>
                      <td><%= user.cat_img %></td>
                      <td>
                        <a href="/admin/countyedit/<%=user.id%>" class="btn btn-primary">edit</a>
                      </td>
                  </tr>                                   
               <% }) %>
               </tbody>
      </table>
    </div>
  </div>
</div>





</body>
</html>





